#content .sig dl {
    margin-top: 0rem;
}

#content .field-list ul:not(.search)>li, #content .field-list ul:not(.search) p {
    margin-top: 1rem;
}

.sig-param > :nth-child(n+3) {
    font-weight: 150;
}

.sig-return-typehint {
    font-weight: 150;
}
