# This workflow runs a clean up after a pull request is closed or merged

name: Clean up after closing or merging a pull request

on:
  pull_request:
    types: [closed]

jobs:
  clean-up-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Remove documentation deployment
        shell: bash
        run: |
          rclone config create --non-interactive docs-cloud webdav url=${{ secrets.DOCS_CLOUD_URL }} \
            pass=${{ secrets.DOCS_CLOUD_PASSWORD }} vendor=${{ secrets.DOCS_CLOUD_VENDOR }} \
            user=${{ secrets.DOCS_CLOUD_USER }}
          rclone copy docs-cloud:pointtree-docs/ all_builds
          rm -rf "all_builds/pr${{ github.event.number }}"
          rclone sync all_builds docs-cloud:pointtree-docs
