name: Code Quality Checks

on:
  workflow_call:
    secrets:
      codecov_token:
        required: true

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      - name: Checkout out repository
        uses: actions/checkout@v4
      - name: Setup up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.12'
      - name: Analysing the code with black
        shell: bash
        run: |
          python -m pip install black
          black src --check --verbose --diff --color --line-length 120
          black test --check --verbose --diff --color --line-length 120
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      - name: Checkout out repository
        uses: actions/checkout@v4
      - name: Format C++ code with clang-format
        shell: bash
        run: |
          python -m pip install clang-format
          find csrc/ -iname '*.h' -o -iname '*.cpp' | xargs clang-format --dry-run --Werror
  mypy:
    runs-on: ubuntu-latest
    container:
      image: josafatburmeister/pointtree:latest
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      - name: Checkout out repository
        uses: actions/checkout@v4
      - name: Analysing the code with mypy
        shell: bash
        run: |
          cd /github/workspace/
          pip install torch==2.4.0
          pip install torch-scatter -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
          pip install torch-cluster -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
          pip install --force-reinstall git+https://github.com/ai4trees/pointtorch.git
          python -m pip install -v --upgrade -e .'[dev, docs]'
          pip install --force-reinstall git+https://github.com/josafatburmeister/circle_detection.git
          mypy . --warn-unused-ignores --show-error-codes --no-incremental
  pylint:
    runs-on: ubuntu-latest
    container:
      image: josafatburmeister/pointtree:latest
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      - name: Checkout out repository
        uses: actions/checkout@v4
      - name: Analysing the code with pylint
        shell: bash
        run: |
          cd /github/workspace/
          pip install torch==2.4.0
          pip install torch-scatter -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
          pip install torch-cluster -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
          pip install --force-reinstall git+https://github.com/ai4trees/pointtorch.git
          python -m pip install -v --upgrade .'[dev, docs]'
          echo "install circle detection"
          pip install --force-reinstall git+https://github.com/josafatburmeister/circle_detection.git
          echo "installed circle detection"
          pylint src --rcfile=.rcfile
          pylint test --rcfile=.rcfile --disable duplicate-code --disable missing-function-docstring
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [
          {python: "3.10", torch: "2.5.0", image: "python:3.10-trixie"},
          {python: "3.11", torch: "2.6.0", image: "python:3.11-trixie"},
          {python: "3.12", torch: "2.7.0", image: "python:3.12-trixie"},
          {python: "3.13", torch: "2.8.0", image: "python:3.13-trixie"},
          {python: "3.14", torch: "2.9.0", image: "python:3.14-trixie"}
        ]
    container:
      image: ${{ matrix.version.image }}
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      - name: Checkout out repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Install package and dependencies
        if: ${{ matrix.version.python < '3.14'}}
        shell: bash
        run: |
          python -m pip install torch==${{ matrix.version.torch }}
          python -m pip install torch-scatter -f https://data.pyg.org/whl/torch-${{ matrix.version.torch }}+cpu.html
          python -m pip install torch-cluster -f https://data.pyg.org/whl/torch-${{ matrix.version.torch }}+cpu.html
          pip install --force-reinstall git+https://github.com/ai4trees/pointtorch.git
          python -m pip install --upgrade -e .'[dev, docs]'
      - name: Install package and dependencies
        if: ${{ matrix.version.python >= '3.14'}}
        shell: bash
        run: |
          apt-get update && apt-get install -y libhdf5-dev
          python -m pip install wheel setuptools
          python -m pip install git+https://github.com/PyTables/PyTables
          python -m pip install torch==${{ matrix.version.torch }}
          python -m pip install torch-scatter -f https://data.pyg.org/whl/torch-${{ matrix.version.torch }}+cpu.html
          python -m pip install torch-cluster -f https://data.pyg.org/whl/torch-${{ matrix.version.torch }}+cpu.html
          pip install --force-reinstall git+https://github.com/ai4trees/pointtorch.git
          cd /github/workspace/
          python -m pip install --upgrade -e .'[dev, docs]'
      - name: Install compatible numpy version
        if: ${{ matrix.version.python == '3.10' || matrix.version.python == '3.11' || matrix.version.python == '3.12' }}
        shell: bash
        run: |
          python -m pip install numpy==1.26.4
      - name: Execute tests
        if: matrix.version.python < '3.14'
        shell: bash
        run: |
          cd /github/workspace/
          pytest
      - name: Execute tests (without numba JIT) and measure code coverage
        if: matrix.version.python == '3.14'
        shell: bash
        run: |
          cd /github/workspace/
          NUMBA_DISABLE_JIT=1 pytest --cov --cov-report=xml
      - name: Upload results to Codecov
        if: matrix.version.python == '3.14'
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.codecov_token }}
          verbose: true
