name: Code Quality Checks

on:
  workflow_call:
    inputs:
      update-coverage-badge:
        required: false
        default: false
        type: boolean

jobs:
  black:
    runs-on: ubuntu-latest
    container:
      image: justushildebrand/python-cuda:3.9-cuda11.8
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout out repository at workflow sha
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - name: Analysing the code with black
        shell: bash
        run: |
          source /root/venv/bin/activate
          cd /github/workspace/
          python -m pip install black
          black src --check --verbose --diff --color --line-length 120
          black test --check --verbose --diff --color --line-length 120
  mypy:
    runs-on: ubuntu-latest
    container:
      image: justushildebrand/python-cuda:3.9-cuda11.8
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout out repository at workflow sha
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - name: Analysing the code with mypy
        shell: bash
        run: |
          source /root/venv/bin/activate
          cd /github/workspace/
          python -m pip install --upgrade .'[dev, docs]'
          mypy . --warn-unused-ignores --show-error-codes --no-incremental
  pylint:
    runs-on: ubuntu-latest
    container:
      image: justushildebrand/python-cuda:3.9-cuda11.8
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout out repository at workflow sha
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - name: Analysing the code with pylint
        shell: bash
        run: |
          source /root/venv/bin/activate
          cd /github/workspace/
          python -m pip install --upgrade .'[dev, docs]'
          pylint src --rcfile=.rcfile
          pylint test --rcfile=.rcfile --disable duplicate-code --disable missing-function-docstring
  test:
    runs-on: ubuntu-latest
    container:
      image: justushildebrand/python-cuda:3.9-cuda11.8
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      - name: Checkout out repository at workflow sha
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Force correct branch on workflow sha
        run: |
          git config --global --add safe.directory $(realpath .)
          git branch -vv
          git remote
          echo ${{ github.ref }}
          echo ${{ github.head_ref }}
          git checkout -B ${{ github.head_ref }} ${{ github.sha }}
          git branch -vv
      - name: Executing tests
        shell: bash
        run: |
          source /root/venv/bin/activate
          cd /github/workspace/
          python -m pip install --upgrade .'[dev, docs]'
          coverage run -m pytest
          coverage-badge -f -o coverage.svg
      - name: Commit coverage badge
        if: ${{ inputs.update-coverage-badge == true }}
        run: |
          cd /github/workspace/
          git config --global --add safe.directory $(realpath .)
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add coverage.svg
          git remote
          git branch -vv
          git remote
          git pull
          git commit -m "ci: update coverage badge [${{ github.event.pull_request.title }}] [skip ci]" --allow-empty
          git push
