# This workflow updates the sources of the Sphinx documentation based on the Python docstrings

name: Update Sphinx Documentation
on:
  pull_request:
    branches:
      - main

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: generate-docs
  cancel-in-progress: false

jobs:
  generate-docs:
    runs-on: ubuntu-latest

    container:
      image: justushildebrand/python-cuda:3.9-cuda11.8
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      - name: Checkout out repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Generate sphinx documentation sources from docstrings
        shell: bash
        run: |
          source /root/venv/bin/activate
          cd /github/workspace/
          python -m pip install --upgrade .'[dev, docs]'
          sphinx-apidoc --force --module-first -t ./docs/source/apidoc_templates/ -o ./docs/source ./src
      - name: Commit and push documentation sources
        run: |
          cd /github/workspace/
          git config --global --add safe.directory $(realpath .)
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add docs/source/*
          git pull
          git commit -m "docs: update docs [${{ github.event.pull_request.title }}] [skip ci]" --allow-empty
          git push
