# This workflow creates a release of the package and publishes it on PyPI when commits are pushed to the main branch
name: Release package

on:
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  release-package:
    if: github.repository == 'ai4trees/pointtree' && github.ref_name == 'main'
    runs-on: ubuntu-latest
    steps:
      - name: Clean up potential remnants of past jobs
        uses: AutoModality/action-clean@v1.1.0
      # Note: we need to checkout the repository at the workflow sha in case during the workflow
      # the branch was updated. To keep PSR working with the configured release branches,
      # we force a checkout of the desired release branch but at the workflow sha HEAD.
      - name: Check out repository at workflow sha
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          fetch-depth: 0
          ref: ${{ github.sha }}
      - name: Force correct release branch on workflow sha
        run: |
          git config --global --add safe.directory $(realpath .)
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git checkout -B ${{ github.ref_name }} ${{ github.sha }}
      - name: Install build and package dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch==2.4.0
          pip install torch-scatter -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
          pip install torch-cluster -f https://data.pyg.org/whl/torch-2.4.0+cpu.html
          pip install build wheel python-semantic-release
          python -m pip install .
      - name: Create release
        id: release
        run: |
          semantic-release version
        env:
          PSR_DOCKER_GITHUB_ACTION: true
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.release.outputs.released == 'true'
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
      - name: Test install from TestPyPI
        run: |
          python -m pip install \
            --index-url https://test.pypi.org/simple/ \
            --extra-index-url https://pypi.org/simple \
            pointtree
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.release.outputs.released == 'true'
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
